/* Pastikan padding dan border tidak menambah lebar elemen */
*, *::before, *::after {
  box-sizing: border-box !important;
}

/* Mencegah seluruh halaman bocor ke kanan */
html, body, #__next, .pageWrapper {
  width: 100% !important;
  max-width: 100% !important;
  overflow-x: hidden !important;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
}